.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(235, 78, 122, 1) 0%, #381460 71%);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: opacity 5s;
}

.loader-hide {
  display: none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -75px;
  width: 200px;
  height: 200px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
