.icon {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  margin-top: 0.5rem;
}
.icon-home {
  font-size: 2.9rem;
}

.hamburger {
  position: fixed;
  right: 0;
  margin-top: 0.5%;
  z-index: 11;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.main-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.main-nav-top-searchbar {
  margin-right: 18%;
  width: 60%;
}

.main-nav-logo-container {
  background: white;
  border-radius: 10rem;
  padding: 0.5rem;
  width: auto;
  height: 2.5rem;
  margin-left: 1rem;
  text-align: center;
  vertical-align: middle;
}

.main-nav-logo {
  align-self: center;
  width: 25px;
  width: 25px;
}

.main-nav-top,
.main-nav-bottom {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #fe346e;
  height: 8%;
  width: 100vw;
}

.main-nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;

  z-index: 10;
}
.main-nav-top-icons {
  display: none;
}

.hide {
  display: none;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
  .main-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav-top-icons {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .icon {
    font-size: 2rem;
    margin: 0 1rem;
  }
  .icon-home {
    font-size: 2.4rem;
  }
  .main-nav-bottom {
    display: none;
  }
  .main-nav-top-searchbar {
    margin-right: 0;
    width: 40%;
  }
}
