.movie-list {
  font-family: "Odibee Sans", "Acme";
  text-align: center;
  color: white;
}

.movie-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 6rem);
  grid-template-rows: repeat(auto-fill, 15rem);
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
  color: white;
}

.movie-list-container p {
  margin-top: 0.3rem;
}

@media (min-width: 500px) {
  .movie-list-container {
    grid-template-columns: repeat(auto-fill, 10rem);
    grid-template-rows: repeat(auto-fill, 20rem);
  }
  .movie-list-container p {
    font-size: 1.3rem;
  }
}
