.BrainhubCarousel {
  position: relative;
}

.slide {
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 20rem;

  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.slide:hover {
  transform: scale(1.1);
  opacity: 1;
}

.slide a {
  text-decoration: none;
  width: auto;
  p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}

.slide-image {
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 6rem;
  height: auto;
  border-radius: 5px;
}

.slide-title {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 1.4rem;
}

.carousel-arrow-left,
.carousel-arrow-right {
  cursor: pointer;
  position: absolute;
  background: transparent;
  height: 9rem;
  width: 1.5rem;
  color: white;
  z-index: 9;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  top: 2.2rem;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  transform: scale(1.1);
  opacity: 1;
}

.carousel-arrow-right {
  right: 0;
}

@media (min-width: 550px) {
  .slide a {
    p {
      font-size: 1.8rem;
      margin: 0.5rem 0;
    }
  }

  .slide-image {
    width: 10rem;
    height: auto;
  }
  .carousel-arrow-left,
  .carousel-arrow-right {
    height: 15rem;
    width: 2rem;
    font-size: 1.5rem;
    top: 2rem;
  }
}
