* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.slide {
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 20rem;
  height: 20rem;
  transition: all 0.2s ease-in-out;
}

.slide:hover {
  transform: scale(1.1);
}

.slide a {
  text-decoration: none;
  width: auto;
}

.slide-image {
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 6rem;
  height: auto;
  border-radius: 5px;
}

.slide-title {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  color: black;
  font-size: 1rem;
}

.BrainhubCarousel {
  height: 19rem;
}

.carousel-arrow-left,
.carousel-arrow-right {
  position: absolute;
  background: transparent;
  height: 9rem;
  width: 1.5rem;
  color: black;
  z-index: 9;
  transition: all 0.2s ease-in-out;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  transform: scale(1.1);
}

.carousel-arrow-left {
  top: 0;
}

.carousel-arrow-right {
  top: 0;
  right: 0;
}
/*
.BrainhubCarousel__arrowLeft,
.BrainhubCarousel__arrowRight {
  position: relative;
  top: -3rem;
  z-index: 5;
}
.BrainhubCarousel__arrowLeft,
.BrainhubCarousel__arrowRight {
  background: black;
  height: 9rem;
  top: -5rem;
}
.BrainhubCarousel__arrowLeft span,
.BrainhubCarousel__arrowRight span {
  color: black;
}

.BrainhubCarousel__arrowLeft {
  right: 0rem;
}

.BrainhubCarousel__arrowRight {
  left: 0rem;
}
*/
@media (min-width: 650px) {
  .BrainhubCarousel {
    height: 10%;
  }
  .slide-image {
    width: 10rem;
    height: auto;
  }
  .carousel-arrow-left,
  .carousel-arrow-right {
    height: 15rem;
    width: 2rem;
    font-size: 1.5rem;
    top: 1rem;
  }

  /*
  .BrainhubCarousel__arrowLeft,
  .BrainhubCarousel__arrowRight {
    background: black;
    height: 15rem;
    top: -2rem;
  }
  */
}
