.main-footer {
  background: #131517;
  padding: 4rem;
  color: white;
  font-family: "Baloo Chettan 2", cursive;
}

.main-footer-copyright-name {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 0.3rem;
}

.main-footer-tmdb-logo {
  width: 8rem;
}
