.main-signin-container .main-signin-buttons .main-approval-content {
  background-color: #ffff99;
  padding: 1rem 2rem;
  opacity: 0.6;
  color: black;
  border-radius: 1rem;
  border: 1px solid black;
}
