.main-signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  background-color: white;

  .main-signin-word-logo {
    width: 8rem;
    margin-top: 1rem;
    border-radius: 5rem;
  }

  .main-signin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      linear-gradient(165deg, #381460 0%, #381460 22%);

    h1 {
      margin: 0;
      margin-top: 1.5rem;
    }

    p {
      margin: 0;
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .main-signin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .main-signin-button {
      width: 13rem;
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 2rem;
      padding: 0.75rem 0;
      color: white;
      background: #fe346e;
      border: 3px solid #fe346e;
    }

    .main-signin-content {
      margin-top: 2rem;
      padding: 0 2rem;
      text-align: left;

      p {
        margin: 0;
      }
    }
  }

  .main-signin-content {
    color: rgba(0, 0, 0, 0.7);
  }
}

.main-signin-image-carousel {
  display: none;
}

@media (max-width: 500px) and (max-height: 820px) {
  .main-signin-container {
    height: 100vh;
  }
}

@media (max-width: 350px) {
  .main-signin-container {
    height: 38rem;
    .main-signin-buttons {
      .main-signin-button {
        margin-top: 1rem;
      }

      .main-signin-content {
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .main-signin {
    margin-top: 3rem;
    background-color: white;
    height: 42rem;

    p {
      padding: 0 9rem;
    }
  }
}
@media (min-width: 900px) {
  .main-signin {
    margin-top: 3rem;
    display: flex;

    .main-signin-container {
      height: 100vh;
      width: 30%;
    }

    .main-signin-image-carousel {
      display: block;
      width: 70%;
      margin-top: -1rem;
    }
  }
}
